<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buynow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--By nguyen van hai -->
        <activity android:name=".LocKetQuaActivity">

        </activity>
        <activity android:name=".CaiDatThongTinActivity"></activity>
        <activity android:name=".TaoCuaHangActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--By ngo quoc cuong -->
        <activity
            android:name=".store_infor"
            android:label="@string/title_activity_store_infor"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".sign_in" />
        <activity android:name=".new_password" />
        <activity android:name=".forget_password" />
        <activity android:name=".confirm_numberphone" />
        <activity
            android:name=".Sua_san_pham"
            android:label="@string/textViewDangSanPham" />
        <activity
            android:name=".Dang_san_pham"
            android:label="@string/textViewSuaSanPham">
        </activity>
    </application>

</manifest>